html, body {
  margin: 0px;
  padding: 0px;
}

.search-header {
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
  padding: 2em;
  width: 100%;
}

.search-header > * {
  display: inline-block !important;
  vertical-align: middle;
  height: 40px;
}

.logo {
  line-height: 40px;
  font-size: 1.3em;
  margin-right: 1em;
}

.search-box {
  width: 100%;
  max-width: 500px;
}

.result-container {
  width: 100%;
  max-width: 700px;
  padding: 40px 0 100px 150px;
}